---
// import IconAstro from 'astro-icon'

import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';

---

<BaseLayout title="About | Elisa Bertoni" description="About Elisa Bertoni">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>

				<img
					width="1553"
					height="873"
					src="/assets/at-work.webp"
					alt="Elisa Bertoni at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a full stack software developer with a background in <b>customer service</b>. I have recently completed an intensive 
            17-week bootcamp in full stack web development with Dev Academy Aotearoa.
          </p>
          <p>
            My professional and personal interests have led me to enjoy a <b>10-year career</b> 
            in the <b>hospitality industry</b> in several countries around the world. 
          </p>
          <p>
            Thanks to my previous jobs I have developed <b>strong organisation skills</b>, 
            impeccable <b>customer service</b> and a <b>keen eye for detail</b>. Working very closely 
            with hospitality and stock management software made me realise how much I love 
            tech.
          </p>            
          <p>
            I got really invested in coding last year ago while completing a one-year diploma in Information Systems. 
            And that is why I ended up studying at Dev Academy.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Certificate in Applied Software Development &nbsp-&nbsp <em>Dev Academy Aotearoa</em></p>
          <p>Diploma in Information Systems &nbsp-&nbsp <em>Eastern Institute of Technology</em></p>
          <p>Bachelor's degree in Tourism, Geography and Environmental Sciences &nbsp-&nbsp <em>University of Milan</em></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Tech Skills</h2>
				<div class="tech-list-container">
					<div class="tech-icon">
            <Pill><Icon icon="html-icon" size="1.33em" /> HTML5</Pill>
            <Pill><Icon icon="css-icon" size="1.33em" /> CSS3</Pill>
            <Pill><Icon icon="javascript-icon" size="1.33em" /> JavaScript</Pill>
            <Pill><Icon icon="typescript-icon" size="1.33em" /> TypeScript</Pill>
            <!-- <Pill><IconAstro name="bxl:typescript" size="1.33em" /> TypeScript</Pill> -->
            <Pill><Icon icon="git-icon" size="1.33em" /> Git</Pill>
            <Pill><Icon icon="react-icon" size="1.33em" /> React</Pill>
            <Pill><Icon icon='redux-icon' size="1.33em" />Redux</Pill>
            <Pill><Icon icon='express-icon' size="1.33em" />Express</Pill>
            <Pill><Icon icon='knex-icon' size="1.33em" />Knex</Pill>
            <Pill><Icon icon='sqlite-icon' size="1.33em" />SQLite3</Pill>
            <Pill><Icon icon='insomnia-icon' size="1.33em" />Insomnia</Pill>
            <Pill><Icon icon='auth0-icon' size="1.33em" />Auth0</Pill>
            <Pill><Icon icon='bulma-icon' size="1.33em" />Bulma CSS</Pill>
            <Pill><Icon icon='tailwind-icon' size="1.33em" />Tailwind CSS</Pill>				
					</div>
				</div>
			</section>
      <section>
				<h2 class="section-title">Interests</h2>
				<div class="tech-list-container">
					<div class="tech-icon">
            <Pill><Icon icon="food" size="1.33em" /></Pill>
            <Pill><Icon icon="burger" size="1.33em" /></Pill>
            <Pill><Icon icon="wine-glass" size="1.33em" /></Pill>
            <Pill><Icon icon="dog" size="1.33em" /></Pill>
            <Pill><Icon icon="globe" size="1.33em" /></Pill>
            <Pill><Icon icon="beach" size="1.33em" /></Pill>
            <Pill><Icon icon="puzzle" size="1.33em" /> </Pill>
            <Pill><Icon icon="cards" size="1.33em" /></Pill>
            <Pill><Icon icon="bike" size="1.33em" /></Pill>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
    text-align: justify;
	}

  .content p {
    padding-bottom: 10px;
  }

  .container-cv {
    display: flex;
    justify-content: center;
  }

  .tech-list-container {
    display: flex;
    grid-column: 2 / 4;
  }

  .tech-icon {
    display: flex;
    flex-wrap: wrap;
		flex-direction: row;
		gap: 1rem;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
