---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p> 
      I have expertise in developing both the front-end and back-end of web applications. 
      Familiar with the entire web development process, from server-side programming 
      and database management to user interface design and client-side scripting.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="trophy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Customer Service</h2>
		<p>
      I have 10 years of experience in the hospitality industry, working in 5 different countries. 
      I am very passionate about creating positive and memorable experiences for customers 
      by actively listening and exceeding their needs. I strive to go above and beyond 
      in all aspects of my work to ensure that each customer's experience is truly exceptional.
    </p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Problem Solving</h2>
		<p>
      I thrive on a good challenge! I am skilled in identifying and resolving issues 
      that arise in a variety of situations. I use a combination of critical 
      thinking and creativity to think outside the box and develop effective solutions. 
    </p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
    text-align: justify;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
